*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
*, *::before, *::after {
    box-sizing: border-box;
  }

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
input, button, textarea, select {
    font: inherit;
  }
input:focus{
    outline: none;
    border: cornflowerblue solid 2px;
    border-radius: 2px
}

input, h2{
    margin: 2rem 4rem 1rem 2rem;
}
 
div{
    position: relative;
}

 label{
    position: absolute;
    margin: 0 4rem 0 2rem;
}

img{
  width: 45vw;
  height: 100vh;
}
html{
  background-color: lightgray;
}
.container{
  display: flex;
}
 .italics{
  font-style: italic;
 }

 .header{
  margin: 10rem 15rem 5rem 2rem;

 }

 .first{
  margin-bottom: 2rem
 }

 .form{
  background-color: white;
  padding-bottom: 2rem;
  padding-top: 2rem
 }
